
.image {
   width: 45px;
   height: 45px;
}




/* .color-box {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
} */

.box {
   align-items: center;
   border-radius: 10px;
   margin: 10px 5px;
}
.box p {
   line-height: 30px;
}

.skyblue {
   background-color: rgb(92, 196, 238);
}

.yellow {
   background-color: rgb(241, 192, 99);
}

.red {
   background-color: rgb(238, 78, 78);
}