
.image {
   width: 45px;
   height: 45px;
}
.color {
background-color: #c6cbec;
}
.h5{
   text-align: center;
   
}
.h5:hover{
   background-color: cornflowerblue;
   border-radius: 10px;
   
}
.t5:hover{
 color: white;
    
}
.h5 .alien:hover{
   color:white;
}
.alien{
   text-decoration: none;
   color: black;
}
.len {
   padding-top: 10px;
   padding-bottom: 10px;
}
.fs{
   font-size: 20px;
}
/* .lien:hover{
      /* background-color:; */
  /*  */



/* .color-box {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
} */

.box {
   align-items: center;
   border-radius: 10px;
   margin: 10px 5px;
}
.box p {
   line-height: 30px;
}

.skyblue {
   background-color: rgb(92, 196, 238);
}

.yellow {
   background-color: rgb(241, 192, 99);
}

.red {
   background-color: rgb(238, 78, 78);
}